
div {
    position: relative;
    top:250px;
    background-color: rgb 255 75 75;
    text-align: center;
    word-spacing: 4px;
    border:black solid 2px;
	border-radius:10px;
    padding:25px ;
    margin:5px 400px 0px 400px;
    background-color:rgb(255, 75, 75);
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span {
    position: relative;
    top: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid black;
}